# Cache directories
joblib
.venv
.pytest_cache
__pycache__
*.egg-info
/data
/doc/_build
/doc/auto_examples
/doc/generated
.coverage
output_benchmarks
benchopt_front_page_convergence.pdf

# IDE specific folders
.vscode

# Config files
benchopt.ini

.DS_Store
coverage.xml
