# Cache directories
joblib
__cache__
.pytest_cache
__pycache__
*.egg-info
/data
/doc/_build
/doc/auto_examples
/doc/generated
/examples/benchmark_*
.coverage

# Output files
**/outputs
benchopt_front_page_convergence.pdf

# Package directory
build/
dist/

# Benchmarks cloned for running tests/examples
/benchmarks/


# IDE specific folders
.vscode

# Config files
benchopt.ini

.DS_Store
coverage.xml
