# Cache directories
joblib
__cache__
.pytest_cache
__pycache__
*.egg-info
/data
/doc/_build
/doc/auto_examples
/doc/generated
/examples/benchmark_*
.coverage

# Output files
**/outputs
benchopt_front_page_convergence.pdf

# Package directory
html/
build/
dist/

# Benchmarks&results cloned for running tests/examples
/benchmarks/
/results/


# IDE specific folders
.vscode

# Config files
benchopt.ini
benchopt/version.py

.DS_Store
coverage.xml
