Nidham Gazagnadou <nidham.gazagnadou@telecom-paris.fr> ngazagna <nidham.gazagnadou@telecom-paristech.fr>
Thomas Moreau <thomas.moreau.2010@gmail.com> tomMoral <thomas.moreau.2010@gmail.com>
Benoit Malézieux <benoit.malezieux@inria.fr> bmalezieux <40993275+bmalezieux@users.noreply.github.com>
Ghislain Durif <gd.dev@libertymail.net> gdurif <gd.dev@libertymail.net>
Joseph Salmon <joseph.salmon.taff@gmail.com> josephsalmon <joseph.salmon.taff@gmail.com>
Joseph Salmon <joseph.salmon.taff@gmail.com> josephsalmon <josephsalmon@users.noreply.github.com>
Mathurin Massias <mathurin.massias@gmail.com> mathurinm <mathurin.massias@gmail.com>
Mathurin Massias <mathurin.massias@gmail.com> mathurinm <mathurinm@users.noreply.github.com>