include LICENSE
include conftest.py
include pyproject.toml
recursive-include benchopt *.py

# Include html templates and css for plotting
recursive-include benchopt/plotting *.html
recursive-include benchopt/plotting *.css
recursive-include benchopt/plotting *.js
recursive-include benchopt/plotting *.svg


# Include doc generation files
recursive-include doc/_static *
recursive-include doc/_templates *.html
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc *.txt
recursive-include doc *.inc
recursive-include doc *.png
recursive-include doc *.svg
recursive-include doc Makefile
exclude doc/sg_execution_times.rst
prune **/generated
prune doc/_build
prune doc/auto_examples

# Include examples
recursive-include examples *.py
recursive-include examples *.txt
prune **/__cache__

prune benchmarks
exclude RELEASE.md
exclude .mailmap
exclude .flake8
