
h2, h4 {
    text-decoration: underline;
}

.bd-main {
    width: 100%;
}

.bd-article {
    height: 100%;
}

blockquote {
    margin: 0 0 4px !important;
}

section {
    text-align: justify;
}

.alert-info {
    background-color: #adb8cb !important;
    border-color: #adb8cb !important;
    color: #2c3e50 !important;
}

.method {
    border-top: 3px solid #d0d0d0;
    padding-top: 10px;
}

.function dt {
    padding-top: 150px;
    margin-top: -150px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

#sidebar {
    text-overflow: ellipsis;
    max-height: 80%;
    overflow-y: auto;
}

/* Make the sidebar table of content more compact and with larger indent */
.bs-sidenav .nav .nav > li > a {
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.bs-sidenav .nav .nav .nav > li > a {
    padding-left: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.bs-sidenav .nav .nav .nav .nav > li > a {
    padding-left: 70px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Light theme overrides */
html[data-theme="light"] {
    --pst-color-primary: #4791c5;
    --pst-color-secondary: #ec9b4c;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: #336b96;
    --pst-color-inline-code: #2c608f;
    --pst-color-inline-code-background: #f0f8ff;
    --pst-color-announcement-background: #fff7ec;
    --pst-color-secondary-bg: #F8FAFC;
}

/* Dark theme overrides */
html[data-theme="dark"] {
    --pst-color-primary: #79b8e6;
    --pst-color-secondary: #ec9b4c;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: #a1cbe9;
    --pst-color-inline-code: #e6ba79;
    --pst-color-inline-code-background: #2e2e2e;
    --pst-color-announcement-background: #2e2e2e;
    --pst-color-secondary-bg: #383838;
}

/* Inline code styling */

code.literal {
    padding: 0.2em 0.4em 0em 0.4em;
    border-radius: 4px;
    color: var(--pst-color-inline-code);
    background-color: var(--pst-color-inline-code-background);
    font-family: monospace;
}