/*----------------------------------------*/
/***** Brand text animated *****/
/*----------------------------------------*/


.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  font-family: 'Kanit', sans-serif;
}


/* switch slider with an adaptable height.
Change switch-height and switch-padding, and all the dimensions are adjusted.
See https://stackoverflow.com/questions/70590125/how-to-change-the-size-of-a-css-toggle-switch */
* {
  --switch-height: 20px;
  --switch-padding: 2px;
  --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
  --slider-height: calc(var(--switch-height) - var(--switch-padding));
  --slider-on: calc(var(--switch-height) - var(--switch-padding));
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: var(--slider-height);
  width: var(--slider-height);
  left: calc(var(--switch-padding) / 2);
  bottom: calc(var(--switch-padding) / 2);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(var(--slider-on));
  -ms-transform: translateX(var(--slider-on));
  transform: translateX(var(--slider-on));
}

.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 768px) {
  #unique_plot {
    flex: 1 1 0%;
  }
}

@media (max-width: 767px) {
  #unique_plot {
    height: 700px;
    flex: initial;
    flex-shrink: 0;
  }
}

.js-plotly-plot .plotly .modebar {
  transform: translateX(-30px);
}
