/*----------------------------------------*/
/***** Stylesheet for the hover index *****/
/*----------------------------------------*/

/* Place rectangles in a grid */
.grid {
  position: relative; /* each rectangle is dependant of others */
  margin: 0 auto;
  padding: 1em 0 4em; /* padding top horizontal bottom */
  display: grid; /* type of boxes generated */
  max-width: 1000px;
  list-style: none; /* no item */
  text-align: center;
  column-gap: 2em; /* space between columns */
}

/* Figure inside grid */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden; /* overflow not taken into account */
  margin: 10px 1%;
  width: 100%; /* 100% of the column */
  background: #3085a3;
  text-align: center;
  cursor: pointer; /* change shape cursor */
  border-radius: 30px; /* rounded corners */
}

/* Each figure contains an img */
.grid figure img {
  position: relative;
  display: block;
  max-height: 100%;
  max-width: 100%;
  opacity: 1; /* over a dummy image */
}

/* Style caption (title of benchmarks) */
.grid figure figcaption {
  padding: 0.1em; /* add space */
  color: #fff; /* writing color */
  text-transform: uppercase; /* title in uppercase */
  font-size: 1.25em;
}

/* Small sized screens */
@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  } /* split in 2 columns */
}

/* Larger sized screens */
@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  } /* split in 3 columns */
}

/* Position and style of <a> elements (the View more) */
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0em; /* no space offset top */
  left: 0;
  width: 100%;
  height: 100%;
}

/* only to figcaption <a> tag */
.grid figure figcaption > a {
  z-index: 1000; /* top level */
  text-indent: 0%;
  white-space: nowrap;
  font-size: 0; /* do not display the View more */
  opacity: 1;
}

/* h2: Problem name (LASSO, ...) */
.grid figure h2 {
  word-spacing: 0em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

/* p: number of files */
.grid figure p {
  letter-spacing: 1px;
  font-size: 70%;
}

/* Default color */
figure.effect-ruby {
  background-color: #2c3e50;
}

/* Color when hovering */
figure.effect-ruby:hover {
  background-color: DodgerBlue;
}

/* Define transformation */
figure.effect-ruby img {
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s; /* transition time */
  transform: scale(1.15); /* size transformation -> bigger */
}

/* transformation with hovering */
figure.effect-ruby:hover img {
  opacity: 0;
  transform: scale(1); /* size -> smaller */
}

/* Apply effect to problem name */
figure.effect-ruby h2 {
  margin-top: 0;
  transition: transform 0.35s; /* transition time */
  transform: translate3d(0, calc((150px - 100%)/2), 0);
  font-size: 1.25em; /* default font */
}

figure.effect-ruby p {
  margin: 2em -1em 2em -1em;
  padding: 1em 0em 1em 0em;
  border: 1px solid #fff; /* create sort of white frame */
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, 20px, 0) scale(1.1); /* size transform */
}

/* Transform title on hover */
figure.effect-ruby:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0px, 10px, 0) scale(0.8); /* smaller */
  margin-top: 0em; /* move up */
}

figure.effect-ruby:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1.2); /* placement in box */
}

/* Button for inside the table with system informations */
.buttoncent {
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center;
}

/* button for inside text
 in benchmark page above graph for system informations */
.buttonleft {
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center;
  margin-left: 1px; /* add margin */
}


/* switch slider with an adaptable height.
Change switch-height and switch-padding, and all the dimensions are adjusted.
See https://stackoverflow.com/questions/70590125/how-to-change-the-size-of-a-css-toggle-switch */
* {
  --switch-height: 20px;
  --switch-padding: 2px;
  --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
  --slider-height: calc(var(--switch-height) - var(--switch-padding));
  --slider-on: calc(var(--switch-height) - var(--switch-padding));
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: var(--slider-height);
  width: var(--slider-height);
  left: calc(var(--switch-padding) / 2);
  bottom: calc(var(--switch-padding) / 2);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(var(--slider-on));
  -ms-transform: translateX(var(--slider-on));
  transform: translateX(var(--slider-on));
}

.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: 50%;
}

/*----------------------------------------*/
/***** Brand text animated *****/
/*----------------------------------------*/


.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  font-family: 'Kanit', sans-serif;
}

/*----------------------------------------*/
/***** Plot *****/
/*----------------------------------------*/

@media (min-width: 768px) {
  #unique_plot {
    flex: 1 1 0%;
  }
}

@media (max-width: 767px) {
  #unique_plot {
    flex: initial;
    flex-shrink: 0;
  }
}

.js-plotly-plot .plotly .modebar {
  transform: translateX(-30px);
}

/*----------------------------------------*/
/***** Custom legend *****/
/*----------------------------------------*/

#plot_legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#legend_title {
  font-size: 1.2rem;
  font-weight: bold;
}

#legend_help {
  font-size: 0.75rem;
  color: #475569;
}

.space-r-2 > * {
  margin-right: 0.5rem;
}
