<html>
<head>
<meta charset="utf-8"/>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📈</text></svg>">
<style>
    ${static['main.css']}

    ${static['hover_index.css']}
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<a id="top"></a>
<h1><a href="https://benchopt.github.io/">Benchopt</a> benchmark results</h1>

<p><em>Last updated: ${last_updated.isoformat(sep=' ', timespec='minutes') | h}</em></p>
<p>
    <strong>${nb_total_benchs}</strong> benchmarks in total.
</p>

<h2>Available Benchmarks</h2>
<div class="content">
<div class="grid">
% for benchmark in benchmarks:
    <figure class="effect-ruby">
      <img src="https://via.placeholder.com/250x150/1E90FF" alt="backgrd"/>
      <figcaption>
        <h2>${pretty_names[loop.index]}</h2>
        <p>${len_fnames[loop.index]} files available</p>
        <a href="${benchmark}.html">View more</a>
      </figcaption>
    </figure>
    %endfor
  </div>

  <!--
  <h2> Available Regression/Classification Benchmarks </h2>
  Give an attribute to benchmarks for regression / classification
  ...
  -->


<a class="backtotop" title="Back to top" href="#top"><i class="fas fa-level-up-alt"></i></a>

</body>
</html>